.main {
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: rgba(26, 115, 232, 1);
  margin-top: 0;
}

.container {
  width: 30%;
  background-color: rgba(240, 242, 245, 1);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(220,220,220,1);
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

input {
  margin-bottom: 1rem;
  height: 2rem;
  border: 2px solid rgba(220,220,220,1);
  background-color: rgba(249, 250, 251, 1);
}

input:hover {
  background-color: rgb(232, 240, 254);
}

input:focus {
  outline: none !important;
  border: 2px solid rgba(41, 128, 185, 1);
}

.submit {
  width: 50%;
  background-color: rgb(24, 150, 62);
  color: white;
  align-self: center;
  cursor: pointer;
  transition: .3s;
}
.submit:hover {
  background-color: rgb(44, 179, 84);
}